@font-face {
    font-family: 'Lekton';
    src: url('/lekton.regular.ttf') format('truetype');
}

body {
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    font-family: Lekton ;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100vh;
    font-size: 2.5vh;
}

header{
    display: flex;
    flex-flow:  row;
    align-items: center;
    justify-content: center;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2vh;
}

main{
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 2vh;
}

#logo {
    height: 4em;
    margin-right: 1em;
}

li{
    list-style: none;
}

li + li{
    margin-top: 1vh;
}
